.home {
  position: relative;
  width: 100%;
  transition: var(--transition);
  &--container {
    padding: 2rem;
    &--table {
      display: flex;
      flex-direction: column;

      justify-content: left;
      gap: 40px;
      &--add {
        width: 210px;
        border: none;
        height: 50px;
        background-color: var(--pinkDark);
        color: var(--white-1);
        font-size: 1.2rem;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .home {
    &--container {
      padding: 0.1rem;
      &--table {
        padding: 0.2rem;
        gap: 5px;
        &--add {
          width: 50px;
          height: 10px;
          font-size: 0.2rem;
          border-radius: 1px;
        }
      }
    }
  }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
  .home {
    &--container {
      padding: 0.1rem;
      &--table {
        padding: 0.5rem;
        gap: 5px;
        &--add {
          width: 70px;
          height: 20px;
          font-size: 0.4rem;
          border-radius: 5px;
        }
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .home {
    &--container {
      padding: 0.1rem;
      &--table {
        padding: 0.5rem;
        gap: 5px;
        &--add {
          width: 80px;
          height: 25px;
          font-size: 0.5rem;
          border-radius: 5px;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .home {
    &--container {
      padding: 0.1rem;
      &--table {
        padding: 0.5rem;
        padding-top: 10rem;
        gap: 5px;
        &--add {
          width: 150px;
          height: 35px;
          font-size: 0.9rem;
          border-radius: 5px;
        }
      }
    }
  }
}
