.theme {
  position: absolute;
  left: 50%;
  bottom: 1%;
  background-color: var(--pink-1);
  width: 500px;
  border-radius: 15px;
  display: block;
  z-index: 99;
  transition: var(--transition);
  &--container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    gap: 20px;
    &--mode {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 55px;
      &--span {
        color: var(--white-1);
        font-size: 1.5rem;
      }
      &--item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &--button {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          cursor: pointer;
          border: none;
          outline: none;
        }
      }
    }
    &--color {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--span {
        color: var(--white-1);
        font-size: 1.5rem;
      }
      &--item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &--button {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          cursor: pointer;
          border: none;
          outline: none;
        }
      }
    }
  }
}

.dark {
  background-color: var(--black-1);
  span,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--white-1);
  }
}

.light {
  background-color: var(--white-2);
  span,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--black-1);
  }
}

.blue {
  background-color: var(--blueDark);
  span,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--white-1);
  }
}
.red {
  background-color: var(--red-1);
  span,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--white-1);
  }
}

.yellow {
  background-color: var(--yellowDark);
  span,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--white-1);
  }
}

.orange {
  background-color: var(--orangeDark);
  span,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--white-1);
  }
}

.green {
  background-color: var(--greenDark);
  span,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--white-1);
  }
}

.purple {
  background-color: var(--purpleDark);
  span,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--white-1);
  }
}

.pink {
  background-color: var(--pinkDark);
  span,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--white-1);
  }
}
